{% extends 'filmy/base.html' %}

{% block 'title' %}Home | {{block.super}}{% endblock %}

{% block 'content' %}
<h1>Poke</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deleniti reprehenderit nostrum amet quae facilis architecto eos magni vero nisi. Ut consectetur et earum minus? Adipisci eos modi quis error. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt nostrum est libero magni autem quasi assumenda, nam qui officiis et quo laudantium aliquam amet optio praesentium dolores nobis placeat? Blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. A laudantium tempore, illo quae quia quos enim quaerat, veritatis earum, recusandae adipisci! Nihil magnam in unde nostrum, officiis distinctio quod repudiandae.</p>
{% endblock %}